html {
    font-family:'Open Sans', Arial, Helvetica, sans-serif;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    outline: none;
    transition: background-color 0.35s, opacity 0.35s;
}

input[type="submit"]:hover {
    background-color: #0056b3;
    opacity: 0.8;
}

#error {
    display: none; 
    margin-top: 20px; 
    padding: 10px; 
    background-color: #dc3545; 
    border: 1px solid white; 
    color: white;     
    border-radius: 4px;
}